@import 'src/styles/_layout-variables';
@import 'primeflex/src/_variables.scss';

.btn-small {
  height: 33px !important;
  width: 33px;
}

@media (max-width: $sm) {
  .action-menu {
    display: none;
  }
}
