@import 'src/styles/_layout-variables';
@import 'primeflex/src/_variables.scss';

.btn-small {
  height:30px !important;
  width: 30px;
}

@media (max-width: $sm) {
  .action-menu {
    display: none;
  }
}
