@import 'src/styles/_variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body,
body .p-component {
  font-family: 'Roboto', sans-serif;
  font-size: $default-font-size;
}

span, p {
  color: var(--text-color);
}

// let the components add paddings
.p-sidebar-content {
  padding: 0 !important;
}
