@import 'src/styles/_variables';
@import 'primeflex/src/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body,
body .p-component {
  font-family: 'Roboto', sans-serif;
  font-size: $default-font-size;
}

app-header span, p {
  color: var(--text-color);
}

.disable-link-styling {
  color: inherit;
  text-decoration: inherit;
}

.app-content-container {
  margin: auto 1.5rem 1.5rem 1.5rem;
}

@media (max-width: $md) {
  .app-content-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

// override PrimeNG styles when necessary
.p-sidebar-content {
  padding: 0 !important;
}

.p-menu {
  border-radius: 1px;
}

.side-menu .p-menu {
  border: 0;
}

a {
  box-shadow: none !important;
}

.p-button-label {
  font-weight: 500;
  font-size: 0.895rem;
}
