<app-content-header [showBackButton]="true" [title]="translationKey.account | transloco"
                    goBackUrl="/app/accounts"></app-content-header>

<div class="app-content-container">
    <app-loading-spinner [show]="resource.state == 'loading'"></app-loading-spinner>
    <app-content-notfound *ngIf="resource.state === 'not-found'"></app-content-notfound>
    <app-content-error *ngIf="resource.state == 'error'" [details]="resource.errorDetails"></app-content-error>
    <div *ngIf="resource.state == 'success'">
        <p-tabView class="responsive-tab-view">
            <p-tabPanel [disabled]="!tabs['basic-data'].isActive" [header]="translationKey.masterData | transloco">
                <app-account-master-data
                        [accountId]="resource.value.resourceId"
                        [readonly]="!resource.value.canUpdate">
                </app-account-master-data>
            </p-tabPanel>
            <p-tabPanel [disabled]="!tabs['products'].isActive" [header]="translationKey.products | transloco">
                Products coming soon ...
            </p-tabPanel>
            <p-tabPanel [disabled]="!tabs['users'].isActive" [header]="translationKey.users | transloco">
                Users coming soon ...
            </p-tabPanel>
        </p-tabView>
    </div>
</div>