<div class="login" style="background-color: aqua">
  <p-dialog header="Login"
            closeIcon="false"
            [(visible)]="showLoginDialog"
            [draggable]="false"
            [resizable]="false"
            [closeOnEscape]="false">
    <a href="javascript:void(0);" (click)="login()">
      <img alt="Login with Microsoft" class="clickable-image" src="/assets/img/ms-symbollockup_signin_light.svg"/>
    </a>
    <ng-template pTemplate="footer">
    </ng-template>
  </p-dialog>
</div>
