<p-toast [breakpoints]="{'476px': {width: '100%'}}" position="top-center"></p-toast>

<div class="wrapper">
  <app-header (triggerMobileSideNav)="openMobileSideNav()" class="head surface-800"></app-header>

  <nav class="side-nav surface-card">
    <app-side-navigation [showTitle]="false"></app-side-navigation>
  </nav>

  <section (swiperight)="onSwipeRight($event)"
           class="content surface-ground">
    <router-outlet></router-outlet>
  </section>
</div>

<p-sidebar [(visible)]="showMobileSideNav" [baseZIndex]="10000" [showCloseIcon]="false" [style]="{'width': 'var(--side-nav-width)'}"
           class="surface-200">
  <app-side-navigation [showTitle]="true"></app-side-navigation>
</p-sidebar>
