<p-toast position="bottom-right" [breakpoints]="{'476px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class="wrapper">
  <app-header (triggerMobileSideNav)="triggerMobileSideNav()" class="head surface-800"></app-header>

  <nav class="side-nav surface-card">
    <app-side-navigation [showTitle]="false"></app-side-navigation>
  </nav>

  <section class="content surface-ground"
           (swiperight)="onSwipeRight($event)">
      <router-outlet></router-outlet>
  </section>
</div>

<p-sidebar class="surface-200" [showCloseIcon]="false" [(visible)]="showMobileSideNav" [baseZIndex]="10000"
           [style]="{'width': 'var(--side-nav-width)'}">
  <app-side-navigation [showTitle]="true"></app-side-navigation>
</p-sidebar>
