<div class="header">
  <a href="javascript:void(0)">
    <i (click)="showMobileSideNav()" class="pi pi-bars menu-icon"></i>
  </a>
  <span class="app-title">header works!</span>
  <div class="user-section">
    <div *ngIf="!isLoggedIn">
      <a href="#" (click)="login()" *ngIf="!isLoggedIn">
          <img alt="Login with Microsoft" class="clickable-image" src="/assets/img/ms-symbollockup_signin_light.svg"/>
      </a>
    </div>
    <div *ngIf="isLoggedIn">
      <button (click)="userMenu.toggle($event)"
              class="p-button-rounded p-button-info user-icon"
              icon="pi pi-user"
              pButton
              pRipple
              pTooltip="{{userName}}"
              tooltipEvent="hover"
              type="button"></button>
      <p-menu #userMenu [model]="items" [popup]="true"></p-menu>
    </div>

  </div>
</div>

