@import 'src/styles/_layout-variables';
@import 'src/styles/_variables';

h2 {
  margin: 5px;
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
  gap: $default-gap;
  margin: $default-margin;
}

.menu-icon {
  font-size: 22px;
  background-color: transparent;
}

.user-section {
  margin-left: auto;
}

.user-icon {
  height: 37px !important;
  width: 37px;
}

@media (min-width: calc(#{$mobile-breakpoint} + 1px)) {
  .menu-icon {
    display: none;
  }
}
