<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ChangeBlog</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['profile']">Profile</a>
        </li>
      </ul>
      <div>
        <button *ngIf="!isLoggedIn" (click)="login()" class="btn btn-light ms-auto" type="button">Login</button>
        <div *ngIf="isLoggedIn" class="dropdown user-profile">
          <i class="bi bi-person-circle white user-profile-icon" data-bs-toggle="dropdown"></i>
          <ul aria-labelledby="user-icon" class="dropdown-menu dropdown-menu-end">
            <li><a aria-disabled="true" class="dropdown-item user-profile-name">{{ userName }}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a [routerLink]="['profile']" class="dropdown-item">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a (click)="logout()" class="dropdown-item">Logout</a></li>
          </ul>
        </div>
      </div>
  </div>
</nav>
