.user-profile-name:focus,
.user-profile-name:hover {
  cursor: default;
  background-color: transparent;
}

li {
  cursor: pointer;
}

.white {
  color: white;
}

.user-profile-icon {
  cursor: pointer;
  font-size: 2em;
}
