@import 'src/styles/_layout-variables';

.header {
  display: flex;
  height: 100%;
}

.menu-icon {
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-left: 7px;
}


@media (min-width: $mobile-breakpoint) {
  .menu-icon {
    display: none;
  }
}

