<div class="header">
  <a href="javascript:void(0)">
    <i (click)="showMobileSideNav()" class="pi pi-bars menu-icon text-0"></i>
  </a>
  <a [routerLink]="['/app/home']" class="disable-link-styling">
    <span class="text-xl text-0">ChangeBlog</span>
  </a>
  <div class="user-section">
    <div class="flex align-items-center">
      <div>
        <button (click)="langMenu.toggle($event)"
                class="p-button-rounded p-button-sm bg-primary-reverse"
                label="{{currentLang}}" pButton
                type="button"></button>
        <p-menu #langMenu [model]="langItems" [popup]="true" [style]="{'width': 'auto'}"></p-menu>
      </div>
      <div class="ml-3">
        <button (click)="userMenu.toggle($event)"
                class="p-button-rounded bg-primary-reverse"
                icon="pi pi-user"
                pButton
                type="button"></button>
        <p-menu #userMenu
                [model]="menuItems"
                [popup]="true"
                [style]="{'width': 'auto'}"></p-menu>
      </div>
    </div>
  </div>
</div>

