@import 'src/styles/_layout-variables';
@import 'src/styles/_variables';

.header {
  display: flex;
  align-items: center;
  align-content: center;
  gap: $default-gap;
  margin: $default-margin;
}

.menu-icon {
  display: flex;
  font-size: 22px;
}

.user-section {
  margin-left: auto;
}

.clickable-image {
  cursor: pointer;
}

.p-disabled {
  opacity: 1;
}

@media (min-width: $mobile-breakpoint) {
  .menu-icon {
    display: none;
  }
}
