<div *ngIf="!isLoggedIn">
  <app-landing></app-landing>
</div>

<div *ngIf="isLoggedIn" class="wrapper">
  <app-header (triggerMobileSideNav)="triggerMobileSideNav()" class="head" style="background-color: coral"></app-header>

  <nav class="side-nav" style="background-color: yellow">
    <app-side-navigation></app-side-navigation>
  </nav>

  <section class="content" style="background-color: green">
    <div class="inner-content">
      <h1>ChangeBlog</h1>
      <h2>enhance your change logs</h2>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

<p-sidebar [(visible)]="showMobileSideNav" [baseZIndex]="10000"
           [style]="{'width': 'var(--side-nav-width)', 'background-color': 'yellow'}">
  <app-side-navigation></app-side-navigation>
</p-sidebar>
