@import 'primeflex/src/_variables.scss';
@import 'src/styles/_layout-variables';

@media (max-width: $sm) {
  .action-menu {
    display: none;
  }
}

@media (max-width: $xl) {
  .created-at-column {
    display: none;
  }
}

@media (max-width: $lg) {
  .created-by-column {
    display: none;
  }
}
