@import 'src/styles/_variables';

.side-nav {
  margin: $default-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 36px;
  width: 100%;
}
